.main {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 2rem;

  &__filter {
    width: 100%;
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    &_defaults {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 2rem 2vw;

      & > p {
        font-size: 1rem;
        font-weight: 700;
      }

      & > ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        & li {
          font-size: 14px;
          padding: 0.5rem 1rem;
          border: 1px solid #000;
          border-radius: 5px;
          cursor: pointer;

          transition: 0.3s ease-in;

          &:hover,
          &:active {
            background-color: #000;
            color: #fff;
            transition: 0.2s ease-out;
          }
        }
      }
    }

    &_list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 2rem 2vw;
      border-top: 1px solid #00000025;
      padding-top: 1.5rem;

      & > p {
        font-weight: 700;
      }

      & > ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        & li {
          font-size: 14px;
          padding: 0.5rem 1rem;
          border: 1px solid #000;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.3s ease-in;

          &:hover,
          &:active {
            background-color: #000;
            color: #fff;
            transition: 0.2s ease-out;
          }
        }
      }
    }
  }

  &__article {
    width: 100%;
    display: grid;
    padding-bottom: 18vh;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 1.5rem;

    &_product {
      width: 100%;

      a {
        width: 100%;
        overflow: hidden;

        img {
          max-width: 100%;
        }
      }

      &_desc {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;

        &_grid {
          display: grid;
          grid-template-rows: 1fr auto;
          gap: 0.25rem;

          &_manufacturer {
            font-size: 14px;
            color: #aaaaaa;
          }
        }
      }
    }
  }

  &__pagination {
    width: 100vw;
    padding-top: 2rem;
    padding: 2rem;
    box-shadow: 0px 2px 12px -4px rgba(0, 0, 0, 0.25);
    background-color: #fff;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    position: fixed;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);

    & > div {
      padding: 1rem;
      border: 1px solid #000;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1080px) {
  .main {
    &__article {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (max-width: 600px) {
  .main {
    &__article {
      grid-template-columns: 1fr;
    }
  }
}
